button {
    width: 5em;
    height: 5em;
    font-size: 1.5em;
    border: none;
    border-radius: 3em;
    margin: 0.3em;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.orange {
    background-color: #FF9500;
    color: white;
}

.grey {
    background-color: #505050;
    color: white;
}

.resultado {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 3.5em;
    margin-bottom: 40px;
}
.resultBox{
    color: white;
    background-color: #505050;
    border-radius: 1em;
    padding: 1em;
    margin-top: 20px
}